{namespace t3q=MadsBrunn\T3quixplorer\ViewHelpers}

<tr>
	<td><input type="checkbox" name="selitems[]" value="{entry.name}" onclick="javascript:Toggle(this);"></td>
	<td>
		<t3q:spriteIcon file="{f:if(condition: entry.isDir, then: 'folder', else: entry.name)}" />
		<f:if condition="{entry.isDir}">
			<f:then>
				<f:link.action action="list" arguments="{directory: entry.relativePath}">
					&nbsp;{entry.name}
				</f:link.action>
			</f:then>
			<f:else>&nbsp;{entry.name}</f:else>
		</f:if>
	</td>

	<td>{entry.size}</td>

	<f:if condition="{entry.isDir}">
		<f:then><td><f:translate key="folder" /></td></f:then>
		<f:else><td><f:translate key="file" /></td></f:else>
	</f:if>

	<td>{f:format.date(date: '@{entry.mtime}', format: 'd.m.Y H:m:i')}</td>

	<td>
		<a href="index.php?action=chmod&item={entry.name}&order=name&srt=yes" title="RECHTE ÄNDERN">
			{entry.perms}
		</a>
	</td>

	<td>
		<table>
			<tr>
				<td>
					<f:render partial="Icon" arguments="{path: 'Icons/_noedit2.gif', lang: 'edit'}" />
				</td>

				<td>
					<f:render partial="Icon" arguments="{path: 'Icons/_noextract.gif', lang: 'extract'}" />
				</td>

				<td>
					<a href="index.php?action=rename&item={entry.name}&order=name&srt=yes">
						<f:render partial="Icon" arguments="{path: 'Icons/_rename.gif', lang: 'rename'}" />
					</a>
				</td>

				<td>
					<f:render partial="Icon" arguments="{path: 'Icons/_nodownload.gif', lang: 'download'}" />
				</td>

			</tr>
		</table>
	</td>
</tr>