{namespace t3q=MadsBrunn\T3quixplorer\ViewHelpers}

<tr>
	<td><input type="checkbox" class="selectEntry" name="selitems[]" value="{entry.name}"></td>
	<td>
		<t3q:spriteIcon file="{f:if(condition: entry.isDir, then: 'folder', else: entry.name)}" />
		<f:if condition="{entry.isDir}">
			<f:then>
				<f:link.action action="list" arguments="{directory: entry.relativePath}">
					&nbsp;{entry.name}
				</f:link.action>
			</f:then>
			<f:else>&nbsp;{entry.name}</f:else>
		</f:if>
	</td>

	<td>{entry.size}</td>

	<f:if condition="{entry.isDir}">
		<f:then><td><f:translate key="folder" /></td></f:then>
		<f:else><td><f:translate key="file" /></td></f:else>
	</f:if>

	<td>{f:format.date(date: '@{entry.mtime}', format: 'd.m.Y H:m:i')}</td>

	<td>
		<a href="index.php?action=chmod&item={entry.name}&order=name&srt=yes" title="RECHTE ÄNDERN">
			{entry.perms}
		</a>
	</td>

	<td>
		<f:if condition="{entry.isDir}">
			<f:then>
				<f:be.buttons.icon icon="extensions-t3quixplorer-edit-deactivated" title="{f:translate(key: 'edit')}" />
			</f:then>
			<f:else>
				<f:be.buttons.icon uri="{f:uri.action(action: 'showEditForm')}" icon="extensions-t3quixplorer-edit" title="{f:translate(key: 'edit')}" />
			</f:else>
		</f:if>
		<f:be.buttons.icon icon="extensions-t3quixplorer-extract-deactivated" title="{f:translate(key: 'extract')}" />
		<f:be.buttons.icon uri="{f:uri.action(action: 'showRenameForm', arguments: '{relativePath: entry.relativePath, name: entry.name}')}" icon="extensions-t3quixplorer-rename" title="{f:translate(key: 'rename')}" />
		<f:be.buttons.icon icon="extensions-t3quixplorer-download" title="{f:translate(key: 'download')}" />
	</td>
</tr>