<table>
	<tr>
		<td>
			<a href="index.php?action=list&dir=&order=name&srt=yes">
				<f:render partial="Icon" arguments="{path: 'Icons/_up.gif', lang: 'up'}" />
			</a>
		</td>
		<td>
			<a href="index.php?action=list&dir=&order=name&srt=yes">
				<f:render partial="Icon" arguments="{path: 'Icons/_home.gif', lang: 'home'}" />
			</a>
		</td>
		<td>
			<a href="javascript:location.reload();">
				<f:render partial="Icon" arguments="{path: 'Icons/_refresh.gif', lang: 'refresh'}" />
			</a>
		</td>
		<td>
			<a href="index.php?action=search&order=name&srt=yes">
				<f:render partial="Icon" arguments="{path: 'Icons/_search.gif', lang: 'search'}" />
			</a>
		</td>
		<td>::</td>
		<td>
			<a href="javascript:Copy();">
				<f:render partial="Icon" arguments="{path: 'Icons/__copy.gif', lang: 'copy'}" />
			</a>
		</td>
		<td>
			<a href="javascript:Move();">
				<f:render partial="Icon" arguments="{path: 'Icons/__cut.gif', lang: 'cut'}" />
			</a>
		</td>
		<td>
			<a href="javascript:Delete();">
				<f:render partial="Icon" arguments="{path: 'Icons/_delete.gif', lang: 'delete'}" />
			</a>
		</td>
		<td>
			<a href="index.php?action=upload&order=name&srt=yes">
				<f:render partial="Icon" arguments="{path: 'Icons/_upload.gif', lang: 'upload'}" />
			</a>
		</td>
		<td>
			<a href="javascript:Archive();">
				<f:render partial="Icon" arguments="{path: 'Icons/_archive.gif', lang: 'archive'}" />
			</a>
		</td>
	</tr>
</table>