<table>
	<tr>
		<td>
			<f:be.buttons.icon uri="{f:uri.action(action: 'list', arguments: '{directory: directory.subDirectory}')}" icon="extensions-t3quixplorer-up" title="{f:translate(key: 'up')}" />
			<f:be.buttons.icon uri="{f:uri.action(action: 'list', arguments: '{directory: \'\'}')}" icon="extensions-t3quixplorer-home" title="{f:translate(key: 'home')}" />
			<f:be.buttons.icon uri="{f:uri.action(action: 'list', arguments: '{directory: directory.relativePath}')}" icon="extensions-t3quixplorer-refresh" title="{f:translate(key: 'refresh')}" />
			<f:be.buttons.icon icon="extensions-t3quixplorer-search" title="{f:translate(key: 'search')}" />
			<f:be.buttons.icon icon="extensions-t3quixplorer-copy" title="{f:translate(key: 'copy')}" />
			<f:be.buttons.icon icon="extensions-t3quixplorer-cut" title="{f:translate(key: 'cut')}" />
			<f:comment>
				<!-- ToDo paste -->
				<f:be.buttons.icon icon="extensions-t3quixplorer-paste" title="{f:translate(key: 'paste')}" />
			</f:comment>
			<f:be.buttons.icon icon="extensions-t3quixplorer-delete" title="{f:translate(key: 'delete')}" />
			<f:be.buttons.icon icon="extensions-t3quixplorer-upload" title="{f:translate(key: 'upload')}" />
			<f:be.buttons.icon icon="extensions-t3quixplorer-archive" title="{f:translate(key: 'archive')}" />
		</td>
	</tr>
</table>