<f:layout name="Default" />

<f:section name="content">
	<h2><f:translate key="title" /></h2>

	<div>

		<!-- General Actions and Upload form -->
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td><f:render partial="GeneralActionItems" /></td>
				<td><f:render partial="Forms/CreateFileOrFolder" /></td>
			</tr>
		</table>
		<!-- General Actions and Upload form -->



		<form name="selform" method="POST" action="index.php?action=post&order=name&srt=yes">
			<input type="hidden" name="do_action">
			<input type="hidden" name="first" value="y">
			<table>
				<!-- Change directory -->
				<tr>
					<td colspan="7"><br />Verzeichnis: /<input type="text" size="50" name="jumpdir" value="">&nbsp;<input type="submit" value="Gehe zu Verzeichnis" name="jumptodir"><br /><br /></td>
				</tr>
				<!-- Change directory -->

				<!-- Header fields of table -->
				<tr>
					<th width="2%" class="c-headLine" nowrap="nowrap">
						<input type="checkbox" name="toggleAllC" onclick="javascript:ToggleAll(this);">
					</th>
					<th width="44%" class="c-headLine" nowrap="nowrap">
						<a href="index.php?action=list&order=name&srt=no">Name&nbsp;<img align="absmiddle" border="0"  src="../../../../typo3/../typo3conf/ext/t3quixplorer/mod1/_img/_arrowup.gif" width="10" height="10" alt="^"></a>
					</th>
					<th width="10%" class="c-headLine" nowrap="nowrap">
						<a href="index.php?action=list&order=size&srt=yes">Größe</a>
					</th>
					<th width="16%" class="c-headLine" nowrap="nowrap">
						<a href="index.php?action=list&order=type&srt=yes">Typ</a>
					</th>
					<th width="14%" class="c-headLine" nowrap="nowrap">
						<a href="index.php?action=list&order=mod&srt=yes">Geändert</a>
					</th>
					<th width="8%" class="c-headLine" nowrap="nowrap">Rechte</th>
					<th width="6%" class="c-headLine" nowrap="nowrap">Aktionen</th>
				</tr>
				<!-- Header fields of table -->

				<!-- Spacer -->
				<tr>
					<td colspan="7">&nbsp;</td>
				</tr>
				<!-- Spacer -->

				<!-- list the entries of directory -->
				<f:for each="{entries}" as="entry">
					<f:render partial="Entry" arguments="{entry: entry}" />
				</f:for>
				<!-- list the entries of directory -->

				<!-- Spacer -->
				<tr>
					<td colspan="7">&nbsp;</td>
				</tr>
				<!-- Spacer -->

				<!-- Additional Folder informations -->
				<tr>
					<td class="c-headLine"></td>
					<td class="c-headLine">17 Objekt(e) (Frei: 186.34 GB)</td>
					<td class="c-headLine">48.04 KB</td>
					<td class="c-headLine"> </td>
					<td class="c-headLine"> </td>
					<td class="c-headLine"> </td>
					<td class="c-headLine"> </td>
				</tr>
				<!-- Additional Folder informations -->

				<!-- Spacer -->
				<tr>
					<td colspan="7">&nbsp;</td>
				</tr>
				<!-- Spacer -->
			</table>
		</form>

		<!-- Spacer element -->
		<div style="padding-top: 20px;"></div>


		<!-- Section content -->
		<a href="#" onclick="top.ShortcutManager.createShortcut(String.fromCharCode(69,105,110,32,76,101,115,101,122,101,105,99,104,101,110,32,102,252,114,32,100,105,101,115,101,32,83,101,105,116,101,32,101,114,122,101,117,103,101,110), '../../../../typo3/', 'tools_txt3quixplorerM1', '%2Ftypo3conf%2Fext%2Ft3quixplorer%2Fmod1%2Findex.php%3F%26id%3D%26dir%3D%26item%3D%26action%3D%26SET%5Bfunction%5D%3D');return false;" title="Ein Lesezeichen für diese Seite erzeugen"><span class="t3-icon t3-icon-actions t3-icon-actions-system t3-icon-system-shortcut-new">&nbsp;</span></a>

		<!-- Spacer element -->
		<div style="padding-top: 10px;"></div>

	</div>
</f:section>